th,td{
    padding-top: 5px;
    padding-left: 20px;
}
img:hover{
    cursor: pointer;
}
.pagination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.pagination li {
    float: left;
    border: 2px solid black;
    width: 80px;
    align-content: center;  
}
  
.pagination li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
